/*-----------------------------------------------------------------------------------

    [Table of contents]

    01. [Base (Global style for some elements)]
    02. [Style Section Name]
    03. [Style Section Name]
    04Ø² [Style Section Name]
    05. [Style Section Name]
    06. [Style Section Name]
    07. [Style Section Name]

-----------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------
    Global style for some elements
--------------------------------------------------------------------*/
