/*-----------------------------------------------------------------------------------

    [Table of contents]

    01. [Base (Global style for some elements)]
    02. [Style Section Name]
    03. [Style Section Name]
    04ز [Style Section Name]
    05. [Style Section Name]
    06. [Style Section Name]
    07. [Style Section Name]

-----------------------------------------------------------------------------------*/


/* -----------------------------------------------------------------
    Style Slider Section
--------------------------------------------------------------------*/


/* Variables */

:root {
    --Pink: #fb2e86;
    --Red: #fa2546;
    --Blue: #2f1ac4;
    --OffNavyBlue: #424e9b;
    --NavyBlue: #151875;
    --SkyBlue: #f2f1ff;
    --PantonePurple: #e1d2f6;
    --Purple: #7e33e0;
    --OffPurple: #a065b4;
    --OffBlue: #151875;
    --LightPurble: #F6F5FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
}

a {
    color: var(--PrimaryColor);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button,
button:focus,
input,
input:focus,
textarea,
textarea:focus {
    outline: none;
    border: none;
}

button,
.btn {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* -----------------------------------------------------------------
    Style Slider Section
--------------------------------------------------------------------*/


/* start title for the whole page */

.first-look {
    background-color: var(--LightPurble);
    width: 100%;
    font-size: 2rem;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    color: var(--OffBlue);
}


/* end title for the whole page */


/* -----------------------------------------------------------------
    Style Slider Section
--------------------------------------------------------------------*/


/* start the list content */

.list-of-item-added-to-cart {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.title-of-product {
    display: flex;
    justify-content: space-between;
}

.title-of-all-product {
    color: var(--OffBlue);
    font-size: 1.7rem;
}

.product-list {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 2rem;
}

.img-with-product {
    display: flex;
    flex-direction: row;
}

.title-of-product-and-description {
    margin-left: 1rem;
}

.title-of-the-product {
    font-size: 1.5rem;
}

.description-of-the-product {
    margin-top: 1rem;
    color: gray;
    margin-right: 1rem;
}

.img-of-product {
    height: 10rem;
}

.price-of-product {
    margin-top: 1rem;
    color: var(--OffBlue);
    font-size: 1.3rem;
}

.delete-and-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ri-close-circle-line {
    font-size: 2rem;
    transition: color .5s;
}

.ri-close-circle-line:hover {
    color: red;
    /* background-color: red; */
}


/* end the list content */


/* -----------------------------------------------------------------
    Style Slider Section
--------------------------------------------------------------------*/


/* start  total price and delete all */

.total-price-and-delete-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 1rem;
}

.total-price-and-the-title {
    display: flex;
    align-items: center;
    width: 30%;
}

.total-price-title {
    font-size: 2rem;
    color: var(--OffBlue);
}

.total-price {
    text-decoration-line: underline;
    font-size: 2rem;
    color: var(--OffBlue);
    margin-left: 1rem;
}

.delete-all-items {
    width: 35%;
    height: 4rem;
    background-color: var(--SkyBlue);
    font-size: 2rem;
    color: var(--NavyBlue);
    transition: background-color 1s;
}

.delete-all-items:hover {
    background-color: var(--Red);
    color: white;
}


/* end total price and delete all */