/*-----------------------------------------------------------------------------------

  [Table of contents]

  01. [Base (Global style for some elements)]
  02. [Style Section Name]
  03. [Style Section Name]
  04Ø² [Style Section Name]
  05. [Style Section Name]
  06. [Style Section Name]
  07. [Style Section Name]

-----------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------
  Global style for some elements
--------------------------------------------------------------------*/
.customer {
  margin-top: 50px;
}
.customer .customer-add {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.customer .customer-add .customer-title {
  color: var(--NavyBlue);
}
.customer .customer-add .customer-title::first-letter {
  color: var(--Pink);
  font-size: 2.3rem;
}
.customer .customer-add .customer-display button {
  width: 50px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--NavyBlue);
  padding: 5px 10px;
  color: var(--NavyBlue);
  transition: all 0.5s ease-in-out;
}
.customer .customer-add button:hover {
  background-color: var(--NavyBlue);
  color: #fff;
  width: 100px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-img {
  width: 25%;
  height: 200px;
  overflow: hidden;
}
.card-img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.card-img:hover img {
  transform: scale(1.2);
}
.card-body {
  width: 70%;
  height: 200px;
  padding-top: 15px;
}
.card-body .card-title {
  color: var(--NavyBlue);
  font-weight: bold;
  font-size: 1.5rem;
}
.card-body .card-title span {
  font-size: 0.7rem;
  color: var(--Pink);
}
.customer .card-body span {
  margin-left: 5px;
}
.card-body .card-price {
  display: inline-block;
  margin: 5px 0px;
  color: var(--Pink);
}
.ri-star-half-line {
  color: yellow;
}
.card-body .card-text {
  color: var(--PantonePurple);
  width: 50%;
  margin: 5px 0px;
}
.card-body button {
  display: inline-block;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  margin: 10px;
  background-color: transparent;
  border: 1px solid var(--NavyBlue);
  color: var(--NavyBlue);
  transition: all 0.5s ease-in-out;
}
.ri-shopping-cart-line:before,
.ri-heart-line:before,
.ri-layout-grid-fill::before,
.ri-list-check-2::before {
  font-size: 1.3rem;
}
.card-body button:hover {
  background-color: var(--NavyBlue);
  color: #fff;
}
