/*-----------------------------------------------------------------------------------

  [Table of contents]

  01. [Base (Global style for some elements)]
  02. [Style Section seller ]
  03. [Style Section Name]
  04ز [Style Section Name]
  05. [Style Section Name]
  06. [Style Section Name]
  07. [Style Section Name]

-----------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------
Style Section seller
--------------------------------------------------------------------*/

.seller {
    margin-top: 50px;
}
.seller .seller-add {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.seller .seller-add .seller-title {
    color: var(--NavyBlue);
}
.seller .seller-add .seller-title::first-letter {
    color: var(--Pink);
    font-size: 2.3rem;
}
.seller .seller-add button {
    width: 100px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--NavyBlue);
    padding: 0px 10px;
    color: var(--NavyBlue);
    transition: all 0.5s ease-in-out;
}
.seller .seller-add button:hover {
    background-color: var(--NavyBlue);
    color: #fff;
    width: 150px;
}

.seller .seller-add .ri-add-circle-line:before {
    font-size: 2rem;
}
.card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-img {
    width: 25%;
    height: 200px;
    overflow: hidden;
}
.card-img img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.card-img:hover img {
    transform: scale(1.2);
}
.card-body {
    width: 70%;
    height: 200px;
    padding-top: 15px;
}
.card-body .card-title {
    color: var(--NavyBlue);
    font-weight: bold;
    font-size: 1.5rem;
}
.card-body .card-title span {
    font-size: 0.7rem;
    color: var(--Pink);
}
.card-body .card-price {
    display: inline-block;
    margin: 5px 0px;
    color: var(--Pink);
}
.card-body .card-text {
    color: var(--PantonePurple);
    width: 50%;
    margin: 5px 0px;
}
.card-body button {
    display: inline-block;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid var(--NavyBlue);
    color: var(--NavyBlue);
    transition: all 0.5s ease-in-out;
}
.ri-delete-bin-6-line:before,
.ri-edit-circle-line:before {
    font-size: 1.3rem;
}
.card-body button:hover {
    background-color: var(--NavyBlue);
    color: #fff;
}
