/*-----------------------------------------------------------------------------------

    [Table of contents]

    01. [Base (Global style for some elements)]
    02. [Style Section Name]
    03. [Style Section Name]
    04Ø² [Style Section Name]
    05. [Style Section Name]
    06. [Style Section Name]
    07. [Style Section Name]

-----------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------
    Style Slider Section
--------------------------------------------------------------------*/

/* Variables */
:root {
    --Pink: #fb2e86;
    --Red: #fa2546;
    --Blue: #2f1ac4;
    --OffNavyBlue: #424e9b;
    --NavyBlue: #151875;
    --SkyBlue: #f2f1ff;
    --PantonePurple: #e1d2f6;
    --Purple: #7e33e0;
    --OffPurple: #a065b4;
    --OffBlue: #151875;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
}

a {
    color: var(--PrimaryColor);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button,
button:focus,
input,
input:focus,
textarea,
textarea:focus {
    outline: none;
    border: none;
}

button,
.btn {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* -----------------------------------------------------------------
    Style Footer Section
--------------------------------------------------------------------*/
footer{
    color: var(--SkyBlue);
    background-color: var(--Purple); 
    padding: 1em;
}
.container-footer{
    width: 100%;
    display: grid;
    gap: 2em;
    grid-template-columns: 4fr 2fr 2fr 2fr ;
    box-sizing: border-box;
}

.copyright{
    grid-column: 2/5;
}

li{
    display: inline;
    margin-right: 1rem;
}

h2{
    margin-bottom: 1rem;
}

h1{
    margin-bottom: 1rem;
}
p{
    margin-bottom: 1rem;
}

i{
    font-size: 1.5em;
}